@model Client_mvc.Models.Depart

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>هل انت متاكد من حذف الصف التالي?</h3>
<div>
    <h4>Depart</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locatin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locatin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adderss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adderss)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employid)
        </dd>
    </dl>
    
    <form asp-action="Delete1">
        <input type="submit" value="Delete1" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
